<body id="bback">
	<div class="section col s10" id="section">
		<h5>Búsqueda de Alumnos</h5>
		<div class="divider"></div>
		
		<form class="col s12" action="buscarID_Alumno.php" method="post">
			<div class="row">
				<div class="input-field col s4">
					<input name="idUsuario" type="text" class="validate">
					<label class="active" for="idUsuario">ID</label>
				</div>

				<div class="input-field col s4">
					<a class="white-text" href="#">
					<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="nameSearch" style="width:300px">
						Buscar por ID
						<i class="material-icons right">search</i>
					</button>
					</a>
				</div>
			</div>
		</form>

		<form class="col s12" action="buscarNombre_Alumno.php" method="post">
			<div class="row">
				<div class="input-field col s4">
					<input name="NombreUsuario" type="text" class="validate">
					<label class="active" for="NombreUsuario">Nombre</label>
				</div>

				<div class="input-field col s4">
					<a class="white-text" href="#">
					<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="nameSearch" style="width:300px">
						Buscar por nombre
						<i class="material-icons right">search</i>
					</button>
					</a>
				</div>
			</div>
		</form>

		<form class="col s12" action="buscarSexo_Alumno.php" method="post">
			<div class="row">
				<div class="input-field col s4">
					<select name="Sexo">
						<option value="" disabled selected>Sexo</option>
						<option value="Masculino">Masculino</option>
						<option value="Femenino">Femenino</option>
					</select>
				</div>

				<div class="input-field col s4">
					<a class="white-text" href="#">
					<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="genderSearch" style="width:300px">
						Buscar por sexo
						<i class="material-icons right">search</i>
					</button>
					</a>
				</div>

			</div>
		</form>

	</div>
</body>

