<body id="bback">
	<script type="text/javascript">
		function redirectUser() {
			var rol = $('#Rol').val();
			var busqueda = $('#Busqueda').val();
			if(rol == 1){
				if(busqueda == 1) {
					window.location.replace("buscarNombre_Alumno.php");
				}

				else if(busqueda == 2) {
					window.location.replace("BuscarID_Alumno.php");
				}

				else if(busqueda == 3) {
					window.location.replace("BuscarSexo_Alumno.php");
				}
			}

			if(rol == 2){
				if(busqueda == 1) {
					window.location.replace("BuscarNombre_Profesor.php");
				}

				else if(busqueda == 2) {
					window.location.replace("BuscarID_Profesor.php");
				}

				else if(busqueda == 3) {
					window.location.replace("BuscarSexo_Profesor.php");
				} 
			}

			if(rol == 3){
				if(busqueda == 1) {
					window.location.replace("BuscarNombre_Admin.php");
				}

				else if(busqueda == 2) {
					window.location.replace("BuscarID_Admin.php");
				}

				else if(busqueda == 3) {
					window.location.replace("BuscarSexo_Admin.php");
				} 
			}
			
		}
	</script>

	<div class="section col s10" id="section">
		<h5>Búsqueda de Usuarios</h5>
		<div class="divider"></div>

			<div class="row">
				<div class="input-field col s4">
					<select id="Rol" onchange="sendRequestBusqueda()">
						<option value="" disabled selected>Tipo de usuario</option>
						<option value="1">Alumno</option>
						<option value="2">Profesor</option>
						<option value="3">Administrador</option>
					</select>
				</div>
			</div>

			<div id = "ajaxResponseBusqueda"></div>
		
	</div>
</body>

