<body id="bback">
	<div class="section col s10" id="section">
		<h5>Búsqueda de Alumnos por Nombre</h5>
		<div class="divider"></div>	

		<form class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<input id="NombreUsuario" type="text" class="validate" onkeyup="sendRequestNombre()">
						<label class="active" for="NombreUsuario">Nombre Completo</label>
					</div>
				</div>
		</form>
		<div id="ajaxResponseAlumnoNombre"></div>
	</div>
</body>
