<body id="bback">
  <div class="section col s10" id="section">
    <h5>Búsqueda de Alumnos por ID</h5>
    <div class="divider"></div> 

    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input id="idAlumno" type="text" class="validate" onkeyup="sendRequestidAlumno()">
          <label class="active" for="idAlumno">ID Alumno</label>
        </div>
      </div>
    </form>
    <div id="ajaxResponseIDAlumno"></div>
  </div>
</body>
