table, th, td {
    border: 1px solid black;
}

body {
    font-family: sans-serif;
}

#cuadro {
    background-color: dodgerblue !important;
} 
h1 {
    background-color: dodgerblue !important;
    margin: 0;
}