BODY {
    background-image: url(Pokeball.PNG);
    background-repeat: no-repeat;
    background-position: 1600px 850px;
    background-size: 75px 75px;
}

#div1 {
    width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;
}