<body id="bback">
	<div class="container">
		<div class="section col s10" id="section">
			<h5>Nuevo Profesor</h5>
			<div class="divider"></div>
			<form class="col s12" action="crearProfesor_Controller.php" method="post">
				<div class="row">
					<div class="input-field col s8">
						<input name="idUsuario" type="text" class="validate">
						<label class="active" for="idUsuario">ID Usuario</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="NombreUsuario" type="text" class="validate">
						<label class="active" for="NombreUsuario">Nombre</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="APUsuario" type="text" class="validate">
						<label class="active" for="APUsuario">Apellido Paterno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="AMUsuario" type="text" class="validate">
						<label class="active" for="AMUsuario">Apellido Materno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="PassUsuario" type="text" class="validate">
						<label class="active" for="PassUsuario">Contraseña</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="NacimientoUsuario" type="date" class="datepicker">
						<label class="active" for="NacimientoUsuario">Fecha de Nacimiento</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="CorreoPersonal" type="text" class="validate">
						<label class="active" for="CorreoPersonal">Correo Personal</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="CorreoInstitucional" type="text" class="validate">
						<label class="active" for="CorreoInstitucional">Correo Institucional</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="Telefono" type="text" class="validate">
						<label class="active" for="Telefona">Número de Teléfono</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<select name="Sexo">
							<option value="" disabled selected>Sexo</option>
							<option value="Masculino">Masculino</option>
							<option value="Femenino">Femenino</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="numCedula" type="text" class="validate">
						<label class="active" for="numCedula">Número de Cédula</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="empresas" type="text" class="validate">
						<label class="active" for="empresas">Empresas Previas</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="titulo" type="text" class="validate">
						<label class="active" for="titulo">Título(s) Profesionale(s)</label>
					</div>
				</div>
				
				<div class="row">

					<div class="col s4">
						<a class="white-text" href="#">
						<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action" onclick="return confirmFunction();">
							Guardar Registro
							<i class="material-icons right">save</i>
						</button>
						</a>
					</div>
					
					<div class="col s4">
						<a class="white-text" href="CrearUsuario_View.php">
						<button class="btn waves-effect waves-light red accent-4 btn-small">
							Nuevo Registro
							<i class="material-icons right">add_box</i>
						</button>
						</a>
					</div>

				</div>

			</form>
		</div>
	</div>
	<script>
		function confirmFunction() {
			confirm("¿Quieres guardar los cambios?");
		}
	</script>
</body>

