<body id="bback">
	<div class="container">
		<div class="section col s10" id="section">
			<h5>Nuevo Contacto Responsable</h5>
			<div class="divider"></div>
			<form class="col s12" action="crearContacto_Controller.php" method="post">

				<div class="row">
					<div class="input-field col s8">
						<input name="NombreUsuario" type="text" class="validate">
						<label class="active" for="NombreUsuario">Nombre</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="APUsuario" type="text" class="validate">
						<label class="active" for="APUsuario">Apellido Paterno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="AMUsuario" type="text" class="validate">
						<label class="active" for="AMUsuario">Apellido Materno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="CorreoPersonal" type="text" class="validate">
						<label class="active" for="CorreoPersonal">Correo Personal</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="Telefono" type="text" class="validate">
						<label class="active" for="Telefono">Número de Teléfono</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="Cel" type="text" class="validate">
						<label class="active" for="Cel">Número de Celular</label>
					</div>
				</div>

				<div class="row">

					<div class="col s4">
						<a class="white-text" href="#">
						<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action" onclick="return confirmFunction();">
							Guardar Registro
							<i class="material-icons right">save</i>
						</button>
						</a>
					</div>
					
					<div class="col s4">
						<a class="white-text" href="CrearUsuario_View.php">
						<button class="btn waves-effect waves-light red accent-4 btn-small" name="action">
							Nuevo Registro
							<i class="material-icons right">add_box</i>
						</button>
						</a>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
<script>
	function confirmFunction() {
		confirm("¿Quieres guardar los cambios?");
	}
</script>
</body>

