<?php require_once ('../../util.php'); ?>
<body id="bback">
	<div id="section">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
    <script type="text/javascript" src="../js/validacion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<?php $ID = $_SESSION["idAlumno"]; ?>
    <?php $resultN = idSearch($ID); ?>
    <?php foreach ($resultN as $valueN): ?>
    <h5>Grupos: <?= $valueN['Nombre'] ?> <?= $valueN['ApellidoPaterno'] ?> <?= $valueN['ApellidoMaterno'] ?></h5>
    <?php endforeach; ?>

		<div class="divider"></div>
    <br>
    <div class="col s11">
		<table class="bordered highlight">
        <?php $ID = $_GET['id']; ?>
        <?php $result = getGruposAlumno($ID); ?>
            
        <thead>
          <tr>
            <th id="cf" >Materia</th>
            <th id="cf" >Profesor</th>
            <th id="cf" >Clave</th>
            <th id="cf" >Ciclo</th>
            <th id="cf" >Salón</th>
            <th id="cf" >Nombre</th>
            <th id="cf" >Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <?php foreach ($result as $value): ?>
          <?php $profesor = idSearchProf($value['idProfesor']); ?>
          <?php $materia = getMateriaID($value['idMateria']); ?>
          <?php foreach ($profesor as $value2): ?>
          <?php foreach ($materia as $value3): ?>
          <tr>
            <td><?= $value3['Nombre'] ?></td>
            <td><?= $value2['Nombre'] ?> <?= $value2['ApellidoPaterno'] ?> <?= $value2['ApellidoMaterno'] ?></td>
            <td><?= $value3['idSEP'] ?></td>
            <td><?= $value['idCiclo'] ?></td>
            <td><?= $value['Salon'] ?></td>
            <td><?= $value['Nombre'] ?></td>
            <td>
              <button data-target="modalEliminar-<?= $value['idGrupo'] ?>" class="btn-floating btn-tiny red btn modal-trigger">
                <i class="tiny material-icons">delete</i>
              </button>
            </td>
          </tr>
          <?php endforeach; ?>
          <?php endforeach; ?>
          <?php endforeach; ?>
        </tbody>
      </table>
      </div>
	</div>

  

  <script>
    $(document).ready(function() {
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
  </script>
  <script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>
	<script>
		$(document).ready(function () {
			$('select').material_select();
		});
	</script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src=".js/materialize.js"></script>
</body>
