<body id="bback">
<div id="section">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.js"></script>
<script type="text/javascript" src="../js/init.js"></script>
<script type="text/javascript" src="../js/validacion.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<?php $ID = $_SESSION["idAlumno"]; ?>
<?php $resultN = idSearch($ID); ?>
<?php foreach ($resultN as $valueN): ?>

<h5>Historial Académico: 
<?= $valueN['Nombre'] ?> 
<?= $valueN['ApellidoPaterno'] ?> 
<?= $valueN['ApellidoMaterno'] ?>
</h5>

<?php endforeach; ?>
<div class="divider"></div>
<div class="row">
	<div class="col s2">&nbsp</div>
    <div class="col s11">
	<table class="bordered highlight centered">
		<?php $ID = $_SESSION["idAlumno"]; ?>
		<?php $result = getHistorial($ID); ?>
		<thead>
			<tr>
				<th id="cf" ><h6><strong>Primer Semestre</h6></th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
			</tr>

			<tr>
				<th>Clave</th>
				<th>Nombre de Materia</th>
				<th>Creditos</th>
				<th>Extraordinario</th>
				<th>Calificación Final</th>
				<th>Faltas Finales</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($result as $value): ?>
				<?php if($value['Semestre'] == 1): ?>
					<tr>
						<td>
							<?= $value['idSEP'] ?>
						</td>
						<td>
							<?= $value['nombre'] ?>
						</td>
						<td>
							<?= $value['Creditos'] ?>
						</td>
						<td>
							<?php if($value['Extraordinario'] == 1) {
								echo "Sí"; 
							}

							else {
								echo "No";
							} ?>
								
						</td>
						<td>
							<?= $value['CalifFinal'] ?>
						</td>
						<td>
							<?= $value['FaltasFinal'] ?>
						</td>
						<td>
							<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger"                                         onclick="sendRequestHistorial(<?= $value['idCalificacion'] ?>)">
								<i class="tiny material-icons">mode_edit</i>
							</button>
						</td>
					</tr>
					<?php 
					endif;
					endforeach; 
					?>
				</tbody>
			</table>

	<table class="bordered highlight centered">
		<?php $result = getHistorial($ID); ?>
		<thead>
			<tr>
				<th id="cf" ><h6><strong>Segundo Semestre</h6></th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
			</tr>

			<tr>
				<th>Clave</th>
				<th>Nombre de Materia</th>
				<th>Creditos</th>
				<th>Extraordinario</th>
				<th>Calificación Final</th>
				<th>Faltas Finales</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($result as $value): ?>
				<?php if($value['Semestre'] == 2): ?>
					<tr>
						<td>
							<?= $value['idSEP'] ?>
						</td>
						<td>
							<?= $value['nombre'] ?>
						</td>
						<td>
							<?= $value['Creditos'] ?>
						</td>
						<td>
							<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
						</td>
						<td>
							<?= $value['CalifFinal'] ?>
						</td>
						<td>
							<?= $value['FaltasFinal'] ?>
						</td>
						<td>
							<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
								<i class="tiny material-icons">mode_edit</i>
							</button>
						</td>
					</tr>
					<?php 
					endif;
					endforeach; 
					?>
				</tbody>
			</table>

	<table class="bordered highlight centered">
		<?php $result = getHistorial($ID); ?>
		<thead>
			<tr>
				<th id="cf" ><h6><strong>Tercer Semestre</h6></th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
			</tr>

			<tr>
				<th>Clave</th>
				<th>Nombre de Materia</th>
				<th>Creditos</th>
				<th>Extraordinario</th>
				<th>Calificación Final</th>
				<th>Faltas Finales</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($result as $value): ?>
				<?php if($value['Semestre'] == 3): ?>
					<tr>
						<td>
							<?= $value['idSEP'] ?>
						</td>
						<td>
							<?= $value['nombre'] ?>
						</td>
						<td>
							<?= $value['Creditos'] ?>
						</td>
						<td>
							<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
						</td>
						<td>
							<?= $value['CalifFinal'] ?>
						</td>
						<td>
							<?= $value['FaltasFinal'] ?>
						</td>
						<td>
							<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
								<i class="tiny material-icons">mode_edit</i>
							</button>
						</td>
					</tr>
					<?php 
					endif;
					endforeach; 
					?>
				</tbody>
			</table>

	<table class="bordered highlight centered">
		<?php $result = getHistorial($ID); ?>
		<thead>
			<tr>
				<th id="cf" ><h6><strong>Cuarto Semestre</h6></th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
			</tr>

			<tr>
				<th>Clave</th>
				<th>Nombre de Materia</th>
				<th>Creditos</th>
				<th>Extraordinario</th>
				<th>Calificación Final</th>
				<th>Faltas Finales</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($result as $value): ?>
				<?php if($value['Semestre'] == 4): ?>
					<tr>
						<td>
							<?= $value['idSEP'] ?>
						</td>
						<td>
							<?= $value['nombre'] ?>
						</td>
						<td>
							<?= $value['Creditos'] ?>
						</td>
						<td>
							<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
						</td>
						<td>
							<?= $value['CalifFinal'] ?>
						</td>
						<td>
							<?= $value['FaltasFinal'] ?>
						</td>
						<td>
							<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
								<i class="tiny material-icons">mode_edit</i>
							</button>
						</td>
					</tr>
					<?php 
					endif;
					endforeach; 
					?>
				</tbody>
			</table>

	<table class="bordered highlight centered">
		<?php $result = getHistorial($ID); ?>
		<thead>
			<tr>
				<th id="cf" ><h6><strong>Quinto Semestre</h6></th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
			</tr>

			<tr>
				<th>Clave</th>
				<th>Nombre de Materia</th>
				<th>Creditos</th>
				<th>Extraordinario</th>
				<th>Calificación Final</th>
				<th>Faltas Finales</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($result as $value): ?>
				<?php if($value['Semestre'] == 5): ?>
					<tr>
						<td>
							<?= $value['idSEP'] ?>
						</td>
						<td>
							<?= $value['nombre'] ?>
						</td>
						<td>
							<?= $value['Creditos'] ?>
						</td>
						<td>
							<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
						</td>
						<td>
							<?= $value['CalifFinal'] ?>
						</td>
						<td>
							<?= $value['FaltasFinal'] ?>
						</td>
						<td>
							<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
								<i class="tiny material-icons">mode_edit</i>
							</button>
						</td>
					</tr>
					<?php 
					endif;
					endforeach; 
					?>
				</tbody>
			</table>

	<table class="bordered highlight centered">
		<?php $result = getHistorial($ID); ?>
		<thead>
			<tr>
				<th id="cf" ><h6><strong>Sexto Semestre</h6></th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
				<th id="cf">&nbsp</th>
			</tr>

			<tr>
				<th>Clave</th>
				<th>Nombre de Materia</th>
				<th>Creditos</th>
				<th>Extraordinario</th>
				<th>Calificación Final</th>
				<th>Faltas Finales</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($result as $value): ?>
				<?php if($value['Semestre'] == 6): ?>
					<tr>
						<td>
							<?= $value['idSEP'] ?>
						</td>
						<td>
							<?= $value['nombre'] ?>
						</td>
						<td>
							<?= $value['Creditos'] ?>
						</td>
						<td>
							<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
						</td>
						<td>
							<?= $value['CalifFinal'] ?>
						</td>
						<td>
							<?= $value['FaltasFinal'] ?>
						</td>
						<td>
							<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
								<i class="tiny material-icons">mode_edit</i>
							</button>
						</td>
					</tr>
					<?php 
					endif;
					endforeach; 
					?>
				</tbody>
			</table>

    <table class="bordered highlight centered">
    	<?php $result = getHistorial($ID); ?>
    	<thead>
    		<tr>
    			<th id="cf" ><h6><strong>Séptimo Semestre</h6></th>
    			<th id="cf">&nbsp</th>
    			<th id="cf">&nbsp</th>
    			<th id="cf">&nbsp</th>
    			<th id="cf">&nbsp</th>
    			<th id="cf">&nbsp</th>
    			<th id="cf">&nbsp</th>
    		</tr>

    		<tr>
    			<th>Clave</th>
    			<th>Nombre de Materia</th>
    			<th>Creditos</th>
    			<th>Extraordinario</th>
    			<th>Calificación Final</th>
    			<th>Faltas Finales</th>
    			<th>Editar</th>
    		</tr>
    	</thead>
    	<tbody>
    		<?php foreach ($result as $value): ?>
    			<?php if($value['Semestre'] == 7): ?>
    				<tr>
    					<td>
    						<?= $value['idSEP'] ?>
    					</td>
    					<td>
    						<?= $value['nombre'] ?>
    					</td>
    					<td>
    						<?= $value['Creditos'] ?>
    					</td>
    					<td>
    						<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
    					</td>
    					<td>
    						<?= $value['CalifFinal'] ?>
    					</td>
    					<td>
    						<?= $value['FaltasFinal'] ?>
    					</td>
    					<td>
    						<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
    							<i class="tiny material-icons">mode_edit</i>
    						</button>
    					</td>
    				</tr>
    				<?php 
    				endif;
    				endforeach; 
    				?>
    			</tbody>
    		</table>

<table class="bordered highlight centered">
<?php $result = getHistorial($ID); ?>
<thead>
	<tr>
		<th id="cf" ><h6><strong>Octavo Semestre</h6></th>
		<th id="cf">&nbsp</th>
		<th id="cf">&nbsp</th>
		<th id="cf">&nbsp</th>
		<th id="cf">&nbsp</th>
		<th id="cf">&nbsp</th>
		<th id="cf">&nbsp</th>
	</tr>

	<tr>
		<th>Clave</th>
		<th>Nombre de Materia</th>
		<th>Creditos</th>
		<th>Extraordinario</th>
		<th>Calificación Final</th>
		<th>Faltas Finales</th>
		<th>Editar</th>
	</tr>
</thead>
<tbody>
	<?php foreach ($result as $value): ?>
		<?php if($value['Semestre'] == 8): ?>
			<tr>
				<td>
					<?= $value['idSEP'] ?>
				</td>
				<td>
					<?= $value['nombre'] ?>
				</td>
				<td>
					<?= $value['Creditos'] ?>
				</td>
				<td>
					<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
				</td>
				<td>
					<?= $value['CalifFinal'] ?>
				</td>
				<td>
					<?= $value['FaltasFinal'] ?>
				</td>
				<td>
					<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
						<i class="tiny material-icons">mode_edit</i>
					</button>
				</td>
			</tr>
			<?php 
			endif;
			endforeach; 
			?>
		</tbody>
	</table>

    <table class="bordered highlight centered">
    <?php $result = getHistorial($ID); ?>
    <thead>
    	<tr>
    		<th id="cf" ><h6><strong>Noveno Semestre</h6></th>
    		<th id="cf">&nbsp</th>
    		<th id="cf">&nbsp</th>
    		<th id="cf">&nbsp</th>
    		<th id="cf">&nbsp</th>
    		<th id="cf">&nbsp</th>
    		<th id="cf">&nbsp</th>
    	</tr>

    	<tr>
    		<th>Clave</th>
    		<th>Nombre de Materia</th>
    		<th>Creditos</th>
    		<th>Extraordinario</th>
    		<th>Calificación Final</th>
    		<th>Faltas Finales</th>
    		<th>Editar</th>
    	</tr>
    </thead>
    <tbody>
    	<?php foreach ($result as $value): ?>
    		<?php if($value['Semestre'] == 9): ?>
    			<tr>
    				<td>
    					<?= $value['idSEP'] ?>
    				</td>
    				<td>
    					<?= $value['nombre'] ?>
    				</td>
    				<td>
    					<?= $value['Creditos'] ?>
    				</td>
    				<td>
    					<?php if($value['Extraordinario'] == 1): echo "Ex"; endif;?>
    				</td>
    				<td>
    					<?= $value['CalifFinal'] ?>
    				</td>
    				<td>
    					<?= $value['FaltasFinal'] ?>
    				</td>
    				<td>
    					<button data-target="modalHistorial" class="btn-floating btn-tiny red btn modal-trigger">
    						<i class="tiny material-icons">mode_edit</i>
    					</button>
    				</td>
    			</tr>
    			<?php 
    			endif;
    			endforeach; 
    			?>
    		</tbody>
    	</table>
    </div>


<div id="modalHistorial" class="modal modal-fixed-footer">
	<div class="modal-content">
        <div id="ajaxResponseHistorial"></div>
    </div>

  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close btn-flat">Cancelar</a>
  </div>

</div>

<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
<script>
    function confirmFunction() {
        confirm("¿Quieres guardar los cambios?");
    }
</script>

</div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src=".js/materialize.js"></script>
</body>