<body id="bback">
	<div class="section col s10" id="section">
		<h5>Búsqueda de Profesores por Nombre</h5>
		<div class="divider"></div>	

		<form class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<input id="NombreUsuarioP" type="text" class="validate" onkeyup="sendRequestNombreProf()">
						<label class="active" for="NombreUsuarioP">Nombre Completo</label>
					</div>
				</div>
		</form>
		<div id="ajaxResponseProfesorNombre"></div>
	</div>
</body>