<body id="bback">
<?php
	$ID = $_SESSION["idAlumno"];
	$result = idContactoSearch($ID) or array();
	?>

	<?php foreach ($result as $value): ?>
	<div id=ajaxResponseEdit>
		<div class="section col s10" id="section">
			<?php $ID = $_SESSION["idAlumno"]; ?>
	        <?php $resultN = idSearch($ID); ?>
	        <?php foreach ($resultN as $valueN): ?>
	        <h5>Editar Contacto de: <?= $valueN['Nombre'] ?> <?= $valueN['ApellidoPaterno'] ?> <?= $valueN['ApellidoMaterno'] ?></h5>
	        <?php endforeach; ?>
			<div class="divider"></div>
			<br>

			<div class="col s8">
				<a class="white-text" onclick="sendRequestEditContactTrue(1,<?=$value['idAlumno'] ?>)">
					<button class="btn waves-effect waves-light red accent-4 btn-small">
						Editar Datos	
						<i class="material-icons right">mode_edit</i>
					</button>
				</a>

				<a class="white-text" href="BuscarUsuario_View.php">
					<button class="btn waves-effect waves-light red accent-4 btn-small" >
						Nueva Búsqueda
						<i class="material-icons right">search</i>
					</button>
				</a>
			</div>
		
		<br>
		<br>
		
		<div class="row">
			<div class="col s8">
				<table class="bordered highlight centered">
        			<thead>
          				<tr>
              				<th id="cf" ><strong>Información Contacto</th>
          				</tr>
        			</thead>
        		</table>
        	</div>
        </div>
			<form action="updateContacto_Controller.php" method="post">

				<div class="row">
					<div class="input-field col s8">
						<input name="NombreUsuario" type="text" class="validate" disabled value="<?= $value['Nombre'] ?>">
						<label class="active" for="NombreUsuario">Nombre</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="APUsuario" type="text" class="validate" disabled value="<?= $value['ApellidoPaterno'] ?>">
						<label class="active" for="APUsuario">Apellido Paterno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="AMUsuario" type="text" class="validate" disabled value="<?= $value['ApellidoMaterno'] ?>">
						<label class="active" for="AMUsuario">Apellido Materno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="CorreoPersonal" type="text" class="validate" disabled value="<?= $value['Correo'] ?>">
						<label class="active" for="CorreoPersonal">Correo Personal</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="Telefono" type="text" class="validate" disabled value="<?= $value['Telefono'] ?>">
						<label class="active" for="Telefono">Número de Teléfono</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="Cel" type="text" class="validate" disabled value="<?= $value['Celular'] ?>">
						<label class="active" for="Cel">Número de Celular</label>
					</div>
				</div>

				<div class="row">

					<div class="col s4">
						<a class="white-text" href="#">
						<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action" onclick="return confirmFunction();">
							Guardar Registro
							<i class="material-icons right">save</i>
						</button>
						</a>
					</div>
					
				</div>
			</form>
		</div>
		<?php endforeach; ?>
	</div>

<script>
	function confirmFunction() {
		confirm("¿Quieres guardar los cambios?");
	}
</script>
</body>

