<?php require_once ('../../util.php'); ?>
<body id="bback">
	<div id="section">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
    <script type="text/javascript" src="../js/validacion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<?php $ID = $_SESSION["idAlumno"]; ?>
    <?php $resultN = idSearch($ID); ?>
    <?php foreach ($resultN as $valueN): ?>
    <h5>Boleta: <?= $valueN['Nombre'] ?> <?= $valueN['ApellidoPaterno'] ?> <?= $valueN['ApellidoMaterno'] ?></h5>
    <?php endforeach; ?>

		<div class="divider"></div>
    <br>
    <div class="col s11">
		<table class="bordered highlight">
        <?php $ID = $_GET['id']; ?>
        <?php $result = getBoleta($ID); ?>
            
        <thead>
          <tr>
            <th>Materia</th>
            <th>Calificación P1</th>
            <th>Faltas P1</th>
            <th>Calificación P2</th>
            <th>Faltas P2</th>
            <th>Calificación P3</th>
            <th>Faltas P3</th>
            <th>Calificación Final</th>
            <th>Faltas Final</th>
            <th>Editar</th>
          </tr>
        </thead>

        <tbody>
          <?php foreach ($result as $value): ?>
          <tr>
            <td><?= $value['nombre'] ?></td>
            <td><?= $value['CalifP1'] ?></td>
            <td><?= $value['FaltasP1'] ?></td>
            <td><?= $value['CalifP2'] ?></td>
            <td><?= $value['FaltasP2'] ?></td>
            <td><?= $value['CalifP3'] ?></td>
            <td><?= $value['FaltasP3'] ?></td>
            <td><?= $value['CalifFinal'] ?></td>
            <td><?= $value['FaltasFinal'] ?></td>
            <td>
              <button data-target="modalBoleta-<?= $value['idCalificacion'] ?>" class="btn-floating btn-tiny red btn modal-trigger">
                <i class="tiny material-icons">mode_edit</i>
              </button>
            </td>
          </tr>
          
          <div id="modalBoleta-<?= $value['idCalificacion'] ?>" class="modal modal-fixed-footer">
            <div class="modal-content">
            <?php $result2 = getBoleta($ID, $value['idCalificacion']); ?>
            <?php foreach ($result2 as $value2): ?>

              <h5>Editar Boleta: <?= $value2['nombre'] ?></h5>
                <form action="updateBoleta.php?id=<?=$ID?>" method="POST">

                <input type="hidden" value="<?= $value['idCalificacion'] ?>" name="idCal">

                  <div class="row">
                          <div class="input-field col s6">
                              <input type="number" step="0.01"  min="0" max="10" class="validate" value="<?= $value2['CalifP1'] ?>" name="CalifP1">
                              <label class="active" for="CalifP1">Calificación 1er Parcial</label>
                          </div>
                          <div class="input-field col s6">
                              <input name="FaltasP1" type="number" min="0" class="validate" value="<?= $value2['FaltasP1'] ?>">
                              <label class="active" for="FaltasP1">Faltas 1er Parcial</label>
                          </div>
                      </div>

                      <div class="row">
                          <div class="input-field col s6">
                              <input name="CalifP2" type="number" step="0.01"  min="0" max="10" class="validate" value="<?= $value2['CalifP2'] ?>">
                              <label class="active" for="CalifP2">Calificación 2° Parcial</label>
                          </div>
                          <div class="input-field col s6">
                              <input name="FaltasP2" type="number" min="0" class="validate" value="<?= $value2['FaltasP2'] ?>">
                              <label class="active" for="FaltasP2">Faltas 2° Parcial</label>
                          </div>
                      </div>

                      <div class="row">
                          <div class="input-field col s6">
                              <input name="CalifP3" type="number" step="0.01"  min="0" max="10" class="validate" value="<?= $value2['CalifP3'] ?>">
                              <label class="active" for="CalifP3">Calificacion 3er Parcial</label>
                          </div>
                          <div class="input-field col s6">
                              <input name="FaltasP3" type="number" min="0" class="validate" value="<?= $value2['FaltasP3'] ?>">
                              <label class="active" for="FaltasP3">Faltas 3er Parcial</label>
                          </div>
                      </div>
                      <?php endforeach; ?>

                  <button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action">
                    Guardar<i class="material-icons right">save</i>
                  </button>
                </form>
            </div>

            <div class="modal-footer">
              <a href="#" class=" modal-action modal-close btn-flat">Cancelar</a>
            </div>

          </div>


          <?php endforeach; ?>
        </tbody>
      </table>
      </div>
	</div>

  

  <script>
    $(document).ready(function() {
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
  </script>
  <script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>
	<script>
		$(document).ready(function () {
			$('select').material_select();
		});
	</script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src=".js/materialize.js"></script>
</body>
