<body id="bback">
	<script type="text/javascript">
		function redirectUser() {
			var rol = $('#Rol').val();
			if(rol == 1){
				window.location.replace("CrearAlumno_View.php"); 
			}

			if(rol == 2){
				window.location.replace("CrearProfesor_View.php"); 
			}

			if(rol == 3){
				window.location.replace("CrearAdministrador_View.php"); 
			}
			
		}
	</script>

		<div class="section col s10" id="section">
			<h5>Nuevo Usuario</h5>

			<div class="divider"></div>
			
			<div class="input-field col s12">
				
				<div class="row">
					<div class="input-field col s6">
						<select id="Rol">
							<option value="" disabled selected>Tipo de usuario</option>
							<option value="1">Alumno</option>
							<option value="2">Profesor</option>
							<option value="3">Administrador</option>
						</select>
					</div>
				</div>
				
				<a class="white-text" href="#" onclick="redirectUser()">
				<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action">
					Siguiente
					<i class="material-icons right">trending_flat</i>
				</button>
				</a>

			</div>
		</div>
	</div>

	
</body>

