<body id="bback">

	<div class="container">
		<div class="section col s10" id="section">
			<h5>Nuevo Alumno</h5>
			<div class="divider"></div>
			<form class="col s12" action="crearAlumno_Controller.php" method="post">
				<div class="row">
					<div class="input-field col s8">
						<input name="idUsuario" type="text" class="validate">
						<label class="active" for="idUsuario">ID Usuario</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="NombreUsuario" type="text" class="validate">
						<label class="active" for="NombreUsuario">Nombre</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="APUsuario" type="text" class="validate">
						<label class="active" for="APUsuario">Apellido Paterno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="AMUsuario" type="text" class="validate">
						<label class="active" for="AMUsuario">Apellido Materno</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="PassUsuario" type="text" class="validate">
						<label class="active" for="PassUsuario">Contraseña</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="NacimientoUsuario" type="date" class="datepicker">
						<label class="active" for="NacimientoUsuario">Fecha de Nacimiento</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="CorreoPersonal" type="text" class="validate">
						<label class="active" for="CorreoPersonal">Correo Personal</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="CorreoInstitucional" type="text" class="validate">
						<label class="active" for="CorreoInstitucional">Correo Institucional</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<input name="Telefono" type="text" class="validate">
						<label class="active" for="Telefono">Número de Teléfono</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<select name="Sexo">
							<option value="" disabled selected>Sexo</option>
							<option value="Masculino">Masculino</option>
							<option value="Femenino">Femenino</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
					<?php $result = getPlanesEstudio(); ?>
						<select name="Plan" onchange="sendRequestPlan()">
							<option value="" disabled selected>Planes de Estudio</option>
							<?php foreach ($result as $value): ?>
							<option value="<?=$value['idPlan'] ?>"><?=$value['Nombre']?> - Versión: <?=$value['Version']?></option>
							<?php endforeach; ?>
						</select>
					</div>
				</div>

				<div id = "ajaxResponsePlan"></div>

				<div class="row">
					<div class="input-field col s8">
						<select name="Semestre">
							<option value="" disabled selected>Semestre</option>
							<option value="1">1°</option>
							<option value="2">2°</option>
							<option value="3">3°</option>
							<option value="4">4°</option>
							<option value="5">5°</option>
							<option value="6">6°</option>
							<option value="7">7°</option>
							<option value="8">8°</option>
							<option value="9">9°</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<select name="Regular">
							<option value="" disabled selected>Tipo de Alumno</option>
							<option value="1">Regular</option>
							<option value="0">Irregular</option>
						</select>
					</div>
				</div>
				
				<div class="row">

					<div class="col s6">
						<a class="white-text" href="#">
						<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action" onclick="return confirmFunction();">
							Agregar Contacto Responsable
							<i class="material-icons right">trending_flat</i>
						</button>
						</a>
					</div>

					<div class="col s4">
						<a class="white-text" href="CrearUsuario_View.php">
						<button class="btn waves-effect waves-light red accent-4 btn-small">
							Nuevo Registro
							<i class="material-icons right">add_box</i>
						</button>
						</a>
					</div>

				</div>
			</form>
		</div>
	</div>
	<script>
		function confirmFunction() {
			confirm("¿Quieres guardar los cambios?");
		}
	</script>
</body>

