<body id="bback">	
	<?php

	$Nombre = $_POST['NombreUsuario'];
	$Rol = 1;

	$result = fullNameSearch($Nombre, $Rol) or array();
	//header("Location: BuscarUsuario_View.php");
	//die();
	?>

	<div class="section col s10" id="section">
		<h4>Busqueda por Nombre</h4>
		
		<div class="divider"></div>
		<table class="bordered highlight">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido Paterno</th>
					<th>Apellido Materno</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($result as $value): ?>
					<tr>
						<td><?= $value['idUsuario'] ?></td>
						<td><strong><?= $value['Nombre'] ?></strong></td>
						<td><?= $value['ApellidoPaterno'] ?></td>
						<td><?= $value['ApellidoMaterno'] ?></td>
						<td>
							<a class="btn-floating btn-tiny red" href="EditarAlumno.php?id=<?= $value['idUsuario'] ?>">
								<i class="tiny material-icons">mode_edit</i>
							</a>
						</td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table> 
	</div>
</body>
