<body id="bback">
  <div class="section col s10" id="section">
    <h5>Búsqueda de Administradores por ID</h5>
    <div class="divider"></div> 

    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input id="idUsuario" type="text" class="validate" onkeyup="sendRequestidAdmin()">
          <label class="active" for="idUsuario">ID Administrador</label>
        </div>
      </div>
    </form>
    <div id="ajaxResponseIDAdmin"></div>
  </div>
</body>
