<body id="bback">
	<div class="section col s10" id="section">
		<h5>Búsqueda de Administradores por Nombre</h5>
		<div class="divider"></div>	

		<form class="col s12">
			<div class="row">
				<div class="input-field col s4">
					<input id="NombreUsuarioA" type="text" class="validate" onkeyup="sendRequestNombreAdmin()">
					<label class="active" for="NombreUsuarioA">Nombre Completo</label>
				</div>
			</div>
		</form>
		<div id="ajaxResponseAdminNombre"></div>
	</div>
</body>
