<body id="bback">
  <div class="section col s10" id="section">
    <h5>Búsqueda de Profesores por ID</h5>
    <div class="divider"></div> 

    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input id="idProfesor" type="text" class="validate" onkeyup="sendRequestidProfesor()">
          <label class="active" for="idProfesor">ID Profesor</label>
        </div>
      </div>
    </form>
    <div id="ajaxResponseIDProfesor"></div>
  </div>
</body>
