<body id="bback">
  <div class="section col s10" id="section">
    <h5>Búsqueda de Profesores por Sexo</h5>
    <div class="divider"></div> 

    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <select id="Genero" onchange="sendRequestSexoProf()">
            <option value="" disabled selected>Sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
      </div>
    </form>
    <div id="ajaxResponseSexoProf"></div>
  </div>
</body>
