<body id="bback">
	<?php
	$ID = $_GET['id'];
	$result = idSearch($ID) or array();
	foreach ($result as $value): 
	$_SESSION["idAlumno"] = $value['idAlumno'] 
	?> 
<div id=ajaxResponseEdit>
	<div class="section col s12" id="section">
		<h5>Editar Alumno</h5>
		<div class="divider"></div>
		<br>

			<div class="col s8">
			<a class="white-text" onclick="sendRequestEditTrue(1,<?=$value['idAlumno'] ?>)">
				<button class="btn waves-effect waves-light red accent-4 btn-small">
					Editar Datos	
					<i class="material-icons right">mode_edit</i>
				</button>
			</a>

			<a class="white-text" href="BuscarUsuario_View.php">
				<button class="btn waves-effect waves-light red accent-4 btn-small" >
					Nueva Búsqueda
					<i class="material-icons right">search</i>
				</button>
			</a>
			</div>
		
		<br>
		<br>
		
		<div class="row">
			<div class="col s8">
				<table class="bordered highlight centered">
        			<thead>
          				<tr>
              				<th id="cf" ><strong>Información Alumno</th>
          				</tr>
        			</thead>
        		</table>
        	</div>
        </div>
		
		<form action="updateAlumno_Controller.php" method="post">
			<div class="row">
				<div class="input-field col s8">
					<input name="idUsuario" type="text" class="validate" disabled value="<?= $value['idAlumno'] ?>">
					<label class="active" for="idUsuario">ID</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="NombreUsuario" type="text" class="validate" disabled value="<?= $value['Nombre'] ?>">
					<label class="active" for="NombreUsuario">Nombre</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="APUsuario" type="text" class="validate" disabled value="<?= $value['ApellidoPaterno'] ?>">
					<label class="active" for="APUsuario">Apellido Paterno</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="AMUsuario" type="text" class="validate" disabled value="<?= $value['ApellidoMaterno'] ?>">
					<label class="active" for="AMUsuario">Apellido Materno</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="PassUsuario" type="text" class="validate" disabled value="<?= $value['password'] ?>">
					<label class="active" for="PassUsuario">Contraseña</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="NacimientoUsuario" type="date" class="datepicker" disabled value="<?= $value['FechaNacimiento'] ?>">
					<label class="active" for="NacimientoUsuario">Fecha de Nacimiento</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="CorreoPersonal" type="text" class="validate" disabled value="<?= $value['CorreoPersonal'] ?>">
					<label class="active" for="CorreoPersonal">Correo Personal</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="CorreoInstitucional" type="text" class="validate" disabled value="<?= $value['CorreoInstitucional'] ?>">
					<label class="active" for="CorreoInstitucional">Correo Institucional</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<input name="Telefono" type="text" class="validate" disabled value="<?= $value['Telefono'] ?>">
					<label class="active" for="Telefono">Telefono</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<select disabled name="Sexo">
						<option value="<?= $value['Sexo'] ?>" selected><?= $value['Sexo'] ?></option>
						<option value="Masculino">Masculino</option>
						<option value="Femenino">Femenino</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<select disabled name="Semestre">
						<option value="<?= $value['Semestre'] ?>" selected>Semestre: <?= $value['Semestre'] ?></option>
						<option value="1">1°</option>
						<option value="2">2°</option>
						<option value="3">3°</option>
						<option value="4">4°</option>
						<option value="5">5°</option>
						<option value="6">6°</option>
						<option value="7">7°</option>
						<option value="8">8°</option>
						<option value="9">9°</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<select disabled name="Regular">
						<option value="<?= $value['Regular'] ?>" selected>Tipo de Alumno</option>
						<option value="1">Regular</option>
						<option value="0">Irregular</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s8">
					<?php $result = getPlanesEstudio(); ?>
					<?php $result2 = getPlanAlumno($ID); ?>
					<select disabled name="Plan">
						<?php foreach ($result2 as $value2): ?>
							<option value="<?=$value2['idPlan'] ?>" disabled selected><?=$value2['Nombre']?> - Versión: <?=$value2['Version']?></option>
						<?php endforeach; ?>
						<?php foreach ($result as $value): ?>
							<option value="<?=$value['idPlan'] ?>"><?=$value['Nombre']?> - Versión: <?=$value['Version']?></option>
						<?php endforeach; ?>
					</select>
				</div>
			</div>

			<div class="row">

				<div class="col s10">
					<a class="white-text" href="#">
						<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="action" onclick="return confirmFunction();">
							Editar Contacto Responsable
							<i class="material-icons right">save</i>
						</button>
					</a>
				</div>

			</div>

			<div class="divider"></div>
			<br>
			

		</form>

		<!-- Botones de boleta e historial -->
		
		<?php
		$ID = $_GET['id'];
		$result = idSearch($ID) or array();
		foreach ($result as $value): 
		$_SESSION["idAlumno"] = $value['idAlumno'] 
		?> 
		
			<div class="row">
				<div class="col s4">
					<a class="white-text" href="HistorialAcademico_View.php">
						<button class="btn waves-effect waves-light red accent-4 btn-small">
							Historial
							<i class="material-icons right">assignment</i>
						</button>
					</a>

					<a class="white-text" href="Boleta_View.php?id=<?= $value['idAlumno'] ?>">
						<button class="btn waves-effect waves-light red accent-4 btn-small">
							Boleta 	
							<i class="material-icons right">import_contacts</i>
						</button>
					</a>

					<a class="white-text" href="Grupos_View.php?id=<?= $value['idAlumno'] ?>">
						<button class="btn waves-effect waves-light red accent-4 btn-small">
							Grupos 	
							<i class="material-icons right">group</i>
						</button>
					</a>
				</div>											

			</div>
			<?php endforeach; ?>
		

	</div>
<?php endforeach; ?>
</div>
<script>
	function confirmFunction() {
		confirm("¿Quieres guardar los cambios?");
	}
</script>
</body>

